body{
    background:#08183b;
    font-family: 'Molengo', sans-serif;
    font-size:20px;
    color:#fff;
    line-height:1.3;
}

p {
	margin-bottom: 12px;
}

h1 {	
	font-family: 'Raleway',sans-serif;
	font-size: 70px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 44px;
	font-weight: bold;
    display: block;
}

h3 {
	font-size: 27px;
	font-weight: bold;
	display: block;
}

input,
textarea {
    display: block;
}

/* Intro */

.intro{
    overflow:hidden;
    height: 100vh;
    background: #08183b;
    position: relative;
    margin-bottom: 40vh;
}

.parallax{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.parallax h1 {
    color: #ffffff;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;
	width: inherit;
	font-size: 30px;
}

.parallax__sky{
	width:inherit;
	height:inherit;
	background: #edde5d;
	background: -moz-linear-gradient(top, #edde5d 0%, #ffc034 20%, #c85e81 41%);
	background: -webkit-linear-gradient(top, #edde5d 0%,#ffc034 20%,#c85e81 41%);
	background: linear-gradient(to bottom, #edde5d 0%,#ffc034 20%,#c85e81 41%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edde5d', endColorstr='#c85e81',GradientType=0 );
}

.parallax__cloud{position: absolute;left: -50px;bottom: -50px;width: calc(100% + 100px);z-index: 4;}
.parallax__mountain--1{position: absolute;left: -50px;bottom: -50px;width: calc(100% + 100px);z-index: 5;}
.parallax__mountain--2{position: absolute;left: -50px;bottom: -50px;width: calc(100% + 100px);z-index: 6;}
.parallax__mountain--3{position: absolute;left: -50px;bottom: -60px;width: calc(100% + 100px);z-index: 7;}
.parallax__shrubs{position: absolute;left: -50px;bottom: -50px;width: calc(100% + 100px);z-index: 8;}
.parallax__trees{position: absolute;left: -50px;bottom: -140px;width: calc(100% + 100px);z-index: 10;}


/* Content */

.colour{
    margin-bottom:30vh;
}

.colour h1{
    color: #edde5d;
	background: linear-gradient(to bottom, #edde5d 0%,#ffc034 40%,#c85e81 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 50px;
	line-height: 1;
    flex: 1 100%;
}

/* About */

.grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.grid__item {
	position: relative;
	display: block;
	flex: none;
	margin: 25px;
	cursor: default;
	transform-style: preserve-3d;
}

.grid__item:hover,
.grid__item:focus {
	outline: none;
}

.grid__item--1-3 {
	width: calc(33.333333% - 50px);
}

.grid__item--2-3 {
	width: calc(66.666666% - 50px);
}

.grid img {
	width: 100%;
	height: auto;
}

.technologies {
	list-style: disc;	
	padding: 10px 0 0 20px;
	text-transform: uppercase;
}

.technologies li {
	color: #f7aa00;
	float: left;
	padding: 0 70px 10px 0;
}

.technologies li:nth-child(4n+1) {color: #fff281;}
.technologies li:nth-child(4n+2) {color: #f7aa00;}
.technologies li:nth-child(4n+3) {color: #c85e81;}

.technologies li span {
	color: #fff;
}



/* Portfolio */

.portfolio {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: #08183b;
    margin-bottom:33%;
}


.grid__item--tea,
.grid__item--tea:hover,
.grid__item--tea:focus {
	color: #1fcad4;
}

.grid__item--santa,
.grid__item--santa:hover,
.grid__item--santa:focus {
	color: #c3d600;
}

.grid__item--topps,
.grid__item--topps:hover,
.grid__item--topps:focus {
	color: #00ff87;
}

.grid__item--dowtk,
.grid__item--dowtk:hover,
.grid__item--dowtk:focus {
    color:#f32d70;
}

.grid__item--signin,
.grid__item--signin:hover,
.grid__item--signin:focus {
    color:#fd8200;
}

.stack {
	position: relative;
	width: 100%;
	transform-style: preserve-3d;
}

.stack__deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	transform-origin: 50% 100%;
}

.stack__deco:first-child {
	opacity: 0.2;
}

.stack__deco:nth-child(2) {
	opacity: 0.4;
}

.stack__deco:nth-child(3) {
	opacity: 0.6;
}

.stack__deco:nth-child(4) {
	opacity: 0.8;
}

.stack__figure {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transform-origin: 50% 100%;
}

.stack__img {
	position: relative;
	display: block;
	flex: none;
	width: 100%;
    transition:0.1s;
}

.stack__title {
	position: absolute;
	color: #08183b;
	opacity: 0;	
	font-family: 'Raleway',sans-serif;
	font-size: 32px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	padding: 0 30px;
	transition: 0.3s;
}

.stack:hover .stack__title {opacity: 1;}
.stack:hover .stack__img {filter: blur(3px);}

.grid--effect {
	perspective: none;
}

.grid--effect .column {
	opacity: 1;
}