body{
    background:#08183b;
    font-family: 'Molengo', sans-serif;
    font-size:20px;
    color:#fff;
    line-height:1.3;
}

p {
	margin-bottom: 12px;
}

h1 {	
	font-family: 'Raleway',sans-serif;
	font-size: 70px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 44px;
	font-weight: bold;
    display: block;
}

h3 {
	font-size: 27px;
	font-weight: bold;
	display: block;
}

input,
textarea {
    display: block;
}

/* Intro */

.intro{
    overflow:hidden;
    height: 100vh;
    background: #08183b;
    position: relative;
    margin-bottom: 40vh;
}

.parallax{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.parallax h1 {
    color: #ffffff;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	text-align: center;
	width: inherit;
	font-size: 30px;
}

.parallax__sky{
	width:inherit;
	height:inherit;
	background: #edde5d;
	background: -moz-linear-gradient(top, #edde5d 0%, #ffc034 20%, #c85e81 41%);
	background: -webkit-linear-gradient(top, #edde5d 0%,#ffc034 20%,#c85e81 41%);
	background: linear-gradient(to bottom, #edde5d 0%,#ffc034 20%,#c85e81 41%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edde5d', endColorstr='#c85e81',GradientType=0 );
}

.parallax__cloud{position: absolute;left: -50px;bottom: -50px;width: calc(100% + 100px);z-index: 4;}
.parallax__mountain--1{position: absolute;left: -50px;bottom: -50px;width: calc(100% + 100px);z-index: 5;}
.parallax__mountain--2{position: absolute;left: -50px;bottom: -50px;width: calc(100% + 100px);z-index: 6;}
.parallax__mountain--3{position: absolute;left: -50px;bottom: -60px;width: calc(100% + 100px);z-index: 7;}
.parallax__shrubs{position: absolute;left: -50px;bottom: -50px;width: calc(100% + 100px);z-index: 8;}
.parallax__trees{position: absolute;left: -50px;bottom: -140px;width: calc(100% + 100px);z-index: 10;}

@media screen and (max-width:425px){
    .rwd-linebreak{display:block;}
}


/* Content */

.colour{
    min-height:90vh;
    margin-bottom:10vh;
}

.colour h1{
    color: #edde5d;
	background: linear-gradient(to bottom, #edde5d 0%,#ffc034 40%,#c85e81 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin:0 auto 50px auto;
	line-height: 1;
    flex: 1 100%;
    max-width:80%;
}

@media screen and (max-width:560px){
    .colour h1{font-size:12vw;}
}

/* About */

.grid {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
    align-items: flex-start;
}

.grid__item {
	position: relative;
	display: block;
	flex: none;
	margin: 25px;
	cursor: default;
	transform-style: preserve-3d;
}

.grid__item:hover,
.grid__item:focus {
	outline: none;
}

.grid__item--1-3 {width: calc(33.333333% - 50px);}
.grid__item--2-3 {width: calc(66.666666% - 50px);}

.grid__item--1-2 {width: calc(50% - 50px);}

.grid img {
	width: 100%;
	height: auto;
}

.technologies {
	list-style: disc;	
	padding: 10px 0 0 20px;
	text-transform: uppercase;
}

.technologies li {
	color: #f7aa00;
	float: left;
	padding: 0 70px 10px 0;
}

.technologies li:nth-child(4n+1) {color: #fff281;}
.technologies li:nth-child(4n+2) {color: #f7aa00;}
.technologies li:nth-child(4n+3) {color: #c85e81;}

.technologies li span {
	color: #fff;
}

.about img {
    max-width: 350px;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width:1024px){
    .grid__item--1-3,
    .grid__item--2-3 {width: calc(50% - 50px);}
}

@media screen and (max-width:768px){
    .grid__item--1-2,
    .grid__item--1-3,
    .grid__item--2-3 {width: 80%;}
}

@media screen and (max-width:320px){
    .technologies li {width:100%;}
}



/* Portfolio */

.portfolio {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: #08183b;
    margin-bottom:30vh;
}


.grid__item--tea,
.grid__item--tea:hover,
.grid__item--tea:focus {
	color: #1fcad4;
}

.grid__item--santa,
.grid__item--santa:hover,
.grid__item--santa:focus {
	color: #c3d600;
}

.grid__item--topps,
.grid__item--topps:hover,
.grid__item--topps:focus {
	color: #00ff87;
}

.grid__item--dowtk,
.grid__item--dowtk:hover,
.grid__item--dowtk:focus {
    color:#f32d70;
}

.grid__item--signin,
.grid__item--signin:hover,
.grid__item--signin:focus {
    color:#fd8200;
}

.grid__item--placeholder1,
.grid__item--placeholder1:hover,
.grid__item--placeholder1:focus {
    color:#2c4e8e;
}

.grid__item--placeholder2,
.grid__item--placeholder2:hover,
.grid__item--placeholder2:focus {
    color:#f34f4c;
}

.grid__item--placeholder3,
.grid__item--placeholder3:hover,
.grid__item--placeholder3:focus {
    color:#f9e600;
}

.stack {
	position: relative;
	width: 100%;
	transform-style: preserve-3d;
}

.stack__deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	transform-origin: 50% 100%;
}

.stack__deco:first-child {
	opacity: 0.2;
}

.stack__deco:nth-child(2) {
	opacity: 0.4;
}

.stack__deco:nth-child(3) {
	opacity: 0.6;
}

.stack__deco:nth-child(4) {
	opacity: 0.8;
}

.stack__figure {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transform-origin: 50% 100%;
}

.stack__img {
	position: relative;
	display: block;
	flex: none;
	width: 100%;
    transition:0.1s;
}

.stack__title {
	position: absolute;
	color: #08183b;
	opacity: 0;	
	font-family: 'Raleway',sans-serif;
	font-size: 32px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	padding: 0 30px;
	transition: 0.3s;
}

.stack:hover .stack__title {opacity: 1;}
.stack:hover .stack__img {filter: blur(3px);}

.grid--effect {
	perspective: none;
}

.grid--effect .column {
	opacity: 1;
}

@media screen and (max-width:320px){
    .stack__title {font-size:24px;}
}

/* Contact */

.colour.contact {
    min-height: 0;
}

.form__wrapper {
    position: relative;
    min-height: 380px;
}

form {
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    position:relative;
    background:#08183b;
    z-index:3;
}

form input,
form textarea,
.view-site{    
    font-family: 'Molengo', sans-serif;
    font-size: 20px;
    width:100%;
    padding:15px 20px;
    margin:0 0 15px 0;
    border:0;   
    background:transparent;
    color:#fff38a;
    border-bottom: 3px solid #fff38a;
    box-sizing:border-box;
    transition:0.3s;
    resize: none;
}

form input::-webkit-input-placeholder {color:#fff38a; transition:0.3s;}
form input::-moz-placeholder {color:#fff38a; transition:0.3s;}
form input::-ms-input-placeholder {color:#fff38a; transition:0.3s;}
form input:-moz-placeholder {color:#fff38a; transition:0.3s;}

form input:nth-child(2){
    color:#edde5d;
    border-bottom-color:#edde5d;        
}

form input:nth-child(2)::-webkit-input-placeholder {color:#edde5d; transition:0.3s;}
form input:nth-child(2)::-moz-placeholder {color:#edde5d; transition:0.3s;}
form input:nth-child(2)::-ms-input-placeholder {color:#edde5d; transition:0.3s;}
form input:nth-child(2):-moz-placeholder {color:#edde5d; transition:0.3s;}

form textarea{
    color:#f7aa00;
    border-bottom-color:#f7aa00;        
}

form textarea::-webkit-input-placeholder {color:#f7aa00; transition:0.3s;}
form textarea::-moz-placeholder {color:#f7aa00; transition:0.3s;}
form textarea::-ms-input-placeholder {color:#f7aa00; transition:0.3s;}
form textarea:-moz-placeholder {color:#f7aa00; transition:0.3s;}

form input:focus,
form textarea:focus{
	color:#fffde2;
	border-bottom-color:#fffde2;
}

form input:focus::-webkit-input-placeholder {color:#fffde2;}
form input:focus::-moz-placeholder {color:#fffde2;}
form input:focus::-ms-input-placeholder {color:#fffde2;}
form input:focus:-moz-placeholder {color:#fffde2;}

form textarea:focus::-webkit-input-placeholder {color:#fffde2;}
form textarea:focus::-moz-placeholder {color:#fffde2;}
form textarea:focus::-ms-input-placeholder {color:#fffde2;}
form textarea:focus:-moz-placeholder {color:#fffde2;}

form input[type=submit],
.view-site{
    color:#c85e81;
    border-bottom-color:#c85e81;
    border-top:3px solid #c85e81;
    cursor:pointer;
    max-width: 180px;
    margin: 40px auto 0 auto;
    background: rgba(0,0,0,0.25);
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    font-weight: 800;
    transition:0.3s;
    display:block;
    text-decoration:none;
    text-align:center;
}

form input[type=submit]:hover,
.view-site:hover{
	background: #c85e81;
	color:#121830;
}

.form__success {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #08183b;
    top: 0;
    left: 0;
    font-family: 'Raleway',sans-serif;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    z-index:2;
}

.form__success h3{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

.error {
    font-size: 14px;
    padding-bottom: 30px;
    color: #ff4f4f;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.social {
    max-width: 900px;
    width: 90%;
    margin: 100px auto 0 auto;
    text-align: center;
}

.social__icon {
    display: inline-block;
    margin: 0 5px;
    font-size:28px;
    background: rgba(0,0,0,0.25);
    width: 55px;
    height: 55px;
    line-height: 55px;
    color: #fff38a;
    border-radius: 50%;
    transition:0.3s;
}

.social__icon:hover{
    color:#121830;
    background:#fff38a;
}

/* Individual Portfolio */

.individual_portfolio {
    position: relative;
    margin-top:150px;
    margin-bottom: 0;
    min-height:0;
}

.back {
    position: absolute;
    top: 30px;
    left: 40px;
    color: #fff281;
    opacity: 0.6;
    font-size: 30px;
    transition:0.3s;
}

.back:hover{
    opacity:1;
}

.owl-item p {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width:768px){
    .view-site {margin-top: 10px;margin-bottom: 10px;}
}